{% extends 'base_index.html' %}
{% load staticfiles %}
{% block title %} Index  {% endblock %}

{% block body_block %}
    <ul class="cb-slideshow" xmlns="http://www.w3.org/1999/html">
            <li><span></span>
            <li><span></span>
            <li><span></span>
            <li><span></span>
            <li><span></span>
            <li><span></span>
    </ul>
    <div class="row" style="width: 50%;">
    <div class="col-md-12 col-sm-12 invisible" style="margin-top: 30%;">
    </div>
    </div>
    <div class="row" ng-app = "RegistroAngular">
        <div class="col-md-offset-4 col-sm-offset-0 col-sm-4 col-md-4 table-bordered " style="border-radius: 3%; background-color:antiquewhite;" ng-controller="TodoCtrl">

            <form action="." method="post">
                {% csrf_token %}
            <div class="form-group" style="margin: 10px;">
            Nombre de usuario
            <input type="text" class="form-control" name="username" placeholder="Nombre de usuario" required ng-model= "user_input" ng-change="buscar_usuario()">
            </div>
                <div class="form-group" style="margin: 10px;">
            Contraseña
            <input type="password" class="form-control" name="password1" placeholder="Contraseña" required ng-model="pass1">
          </div>
        <div class="form-group" style="margin: 10px;">
            Repite tu contraseña
            <input type="password" class="form-control" name="password2" placeholder="Repite tu contraseña" required ng-model="pass2" ng-change="verificar_pass()">
          </div>
                <div class="form-group" style="margin: 10px;">
Código
            <input type="password" class="form-control" name="codigo" placeholder="Código para crear cuenta" >
          </div>

            <div class="form-group " style="text-align: center;">
                <input type="submit" value="Crear cuenta " class="btn btn-primary">
            </div>
            </form>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12 col-sm-12 col-sm-offset-0 col-xs-offset-0 col-xs-12" style="bottom: 0%; position: absolute; text-align: center;">
            <img src="{% static 'images/Logo_Web.png' %}" style="width: 100px; height: 100px;">
        </div>
    </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0" style="bottom: 0%; position: absolute; text-align:center; color:darkgrey">Todos los derechos reservados.
            </div>
            </div>
{% endblock %}