{% if sugerencias_categorias%}
    <ul class="nav nav-sidebar">
    {% for categoria in sugerencias_categorias %}
        <h3>
        <li>
        <a href="{% url 'cafeteria_producto' categoria.slug %}">
            {{ categoria.nombre_categoria }}
        </a>
        </li>

        </h3>
    {% endfor %}
    </ul>
{% endif %}

{% if sugerencias_libros%}
    <ul class="nav nav-sidebar">
    {% for libro in sugerencias_libros %}
        <h3>
        <li>
        <a href="{% url 'cafeteria_producto' libro.slug %}">
            {{ libro.nombre }}
        </a>
        </li>
        </h3>
    {% endfor %}
    </ul>
{% endif %}