.producto-true{
    text-decoration: line-through;
    color: grey;
}

#Imprime {
 height: auto;
 width: 310px;
 margin: 0px;
 padding: 0px;
 float: left;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 7px;
 font-style: normal;
 line-height: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 color: #000;
}