{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Libreria
{% endblock %}
{% block actual %}
    {% if libreria_val %}
    <li><a href=""> Libreria- Modificar precio de Libro </a> </li>
    {% else %}
    <li><a href=""> Cafeteria- Modificar precio de producto </a> </li>
    {% endif %}

{% endblock %}
{% block sidebar %}
    <ul class="nav nav-sidebar">

    {% if usuario.belongs_to == 'Administrador' %}

            <li class="active"><a href="" style="background-color: grey; cursor: default;"> Libreria</a></li>
        <li><a href="{% url 'control_puebla_inicio' %}"> Inicio</a> </li>
        <li><a href="{% url 'libreria_puebla_ventas_dia' %}"> Ventas de hoy </a> </li>
        <li><a href="{% url 'libreria_puebla_ventas_semana' %}"> Ventas de esta semana</a> </li>
        <li><a href="{% url 'libreria_puebla_ventas_mes' %}"> Ventas del mes </a> </li>
        <li><a href="{% url 'libreria_puebla_libros_registrados' %}"> Libros registrados </a> </li>

        <li><a href="{% url 'libreria_puebla_agregar_libro' %}"> Agregar Libros </a> </li>
        <li><a href="{% url 'libreria_puebla_agregar_categoria' %}"> Agregar Categorias</a> </li>
{% if libreria_val %}
        <li class="active"><a href="{% url 'libreria_puebla_cambio_precio' %}"> Cambiar precio de libros</a> </li>
            {% else %}
            <li><a href="{% url 'libreria_puebla_cambio_precio' %}"> Cambiar precio de libros</a> </li>
            {% endif %}
        <li><a href="{% url 'libreria_puebla_borrar_libros' %}">Borrar libros</a> </li>
        <li><a href="{% url 'libreria_puebla_registradora' %}"> Caja Registradora </a> </li>
        <input type="text" class="form-control" placeholder="Buscar libro por nombre" id="buscarLibro">
        <input type="text" class="form-control" placeholder="Buscar libro por código de barras" id="buscarLibrocb">
        <input type="text" class="form-control" placeholder="Buscar Categoria" id="buscarCategoria">

<!--
                 <li class="active"><a href="" style="background-color: grey; cursor: default;"> Comercializadora</a></li>
        <li><a href="{% url 'comercializadora_ventas_dia' %}"> Ventas de hoy </a> </li>
        <li><a href="{% url 'comercializadora_ventas_semana' %}"> Ventas de esta semana</a> </li>
        <li><a href="{% url 'comercializadora_ventas_mes' %}"> Ventas del mes </a> </li>
        <li><a href="{% url 'comercializadora_libros_registrados' %}"> Productos registrados </a> </li>

        <li><a href="{% url 'comercializadora_agregar' %}"> Agregar Producto </a> </li>
        <li><a href="{% url 'comercializadora_agregar_categoria' %}"> Agregar Categorias</a> </li>
        <li><a href="{% url 'comercializadora_cambio_precio' %}"> Cambiar Precio De Productos</a> </li>
        <li><a href="{% url 'comercializadora_borrar_producto' %}">Borrar Producto</a> </li>
        <li><a href="{% url 'comercializadora_registradora' %}"> Caja Registradora </a> </li>
        <input type="text" class="form-control" placeholder="Buscar Producto por nombre" id="buscarProducto">
        <input type="text" class="form-control" placeholder="Buscar Producto por código de barras" id="buscarProductocb">
        <input type="text" class="form-control" placeholder="Buscar Categoria" id="buscarCategoriaC">
-->


        <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Cafeteria</a></li>
        <li><a href="{% url 'cafeteria_puebla_ventas_dia' %}"> Ventas hoy </a> </li>
        <li><a href="{% url 'cafeteria_puebla_ventas_semana' %}"> Ventas en la semana</a> </li>
        <li><a href="{% url 'cafeteria_puebla_ventas_mes' %}"> Ventas en el mes</a> </li>
        <li><a href="{% url 'cafeteria_puebla_productos_registrados' %}"> Productos registrados </a> </li>
        <li><a href="{% url 'cafeteria_puebla_agregar_producto' %}"> Agregar productos </a> </li>
        {% if cafeteria_val %}
        <li class="active"><a href="{% url 'cafeteria_puebla_cambiar_precio_producto' %}">Cambiar precio de productos</a> </li>
        {% else %}
            <li ><a href="{% url 'cafeteria_puebla_cambiar_precio_producto' %}">Cambiar precio de productos</a> </li>
        {% endif %}
        <li><a href="{% url 'cafeteria_puebla_borrar_producto' %}"> Borrar producto</a> </li>
        <li><a href="{% url 'cafeteria_puebla_registradora' %}"> Caja Registradora </a> </li>
        <input type="text" class="form-control" placeholder="Buscar producto por nombre" id = "inputProducto">
        <input type="text" class="form-control" placeholder="Buscar producto por código de barras" id="inputProductocb">



            <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Usuario</a></li>
        <li class="active"><a href="{% url 'cerrar_sesion' %}" style="background-color: darkred"> Cerrar sesión </a> </li>

    {% elif usuario.belongs_to == 'Libreria' %}


            <li class="active"><a href="" style="background-color: grey; cursor: default;"> Libreria</a></li>

            <li><a href="{% url 'libreria_puebla_inicio' %}"> Inicio</a> </li>
        <li><a href="{% url 'libreria_puebla_agregar_libro' %}"> Agregar libros </a> </li>
        <li ><a href="{% url 'libreria_puebla_agregar_categoria' %}"> Agregar Categorias</a> </li>
        {% if libreria_val %}
        <li class="active"><a href="{% url 'libreria_puebla_cambio_precio' %}"> Cambiar precio de libros</a> </li>
            {% else %}
            <li><a href="{% url 'libreria_puebla_cambio_precio' %}"> Cambiar precio de libros</a> </li>
            {% endif %}
        <li><a href="{% url 'libreria_puebla_borrar_libros' %}">Borrar libros</a> </li>
        <li><a href="{% url 'libreria_puebla_registradora' %}"> Caja Registradora </a> </li>
        <input type="text" class="form-control" placeholder="Buscar libro por nombre" id="buscarLibro">
    <input type="text" class="form-control" placeholder="Buscar libro por código de barras" id="buscarLibrocb">
        <input type="text" class="form-control" placeholder="Buscar Categoria" id="buscarCategoria">


        {% if usuario.sucursal == 0 %}

          <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Comercializadora</a></li>

           <li><a href="{% url 'comercializadora_inicio' %}"> Inicio</a> </li>
            <li><a href="{% url 'comercializadora_agregar' %}"> Agregar Producto </a> </li>
            <li><a href="{% url 'comercializadora_agregar_categoria' %}"> Agregar Categorias</a> </li>
            <li><a href="{% url 'comercializadora_cambio_precio' %}"> Cambiar precio de productos</a> </li>
            <li><a href="{% url 'comercializadora_borrar_producto' %}">Borrar productos</a> </li>
            <li><a href="{% url 'comercializadora_registradora' %}"> Caja Registradora </a> </li>
             <input type="text" class="form-control" placeholder="Buscar Producto por nombre" id="buscarProducto">
            <input type="text" class="form-control" placeholder="Buscar Producto por código de barras" id="buscarProductocb">
             <input type="text" class="form-control" placeholder="Buscar Categoria" id="buscarCategoriaC">
        {% endif %}

    <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Cafeteria</a></li>
        <li><a href="{% url 'cafeteria_puebla_agregar_producto' %}"> Agregar productos </a> </li>
        {% if cafeteria_val %}
        <li class="active"><a href="{% url 'cafeteria_puebla_cambiar_precio_producto' %}">Cambiar precio de productos</a> </li>
        {% else %}
            <li ><a href="{% url 'cafeteria_puebla_cambiar_precio_producto' %}">Cambiar precio de productos</a> </li>
        {% endif %}
        <li><a href="{% url 'cafeteria_puebla_borrar_producto' %}"> Borrar producto</a> </li>
        <li><a href="{% url 'cafeteria_puebla_registradora' %}"> Caja Registradora </a> </li>

        <input type="text" class="form-control" placeholder="Buscar producto por nombre" id = "inputProducto">
    <input type="text" class="form-control" placeholder="Buscar por código de barras" id="inputProductocb">

                    <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Usuario</a></li>
        <li class="active"><a href="{% url 'cerrar_sesion' %}" style="background-color: darkred"> Cerrar sesión </a> </li>

    {% endif %}
    </ul>
{% endblock %}

{% block body_block %}
    {% if libreria_val %}
    <img src="{% static 'images/logobiblioteca.png' %}" style="position: absolute; height: 250px; width: 250px; right: -3%; bottom: -80%;">
    {% elif cafeteria_val %}
        <img src="{% static  'images/logocafeteria.jpeg'%}" style="position: absolute; left: -20%; z-index: -1;">

    {% endif %}

    <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12 col-lg-4 col-lg-offset-4" ng-app = "BLibreria">
    </form>
    <hr><hr>
    <form method="POST" action=".">
    {% csrf_token %}
        {% for field in precio_form %}
            <div class="form-group">
            {{ field.label_tag }}{{ field }}
                <div class="alert-danger">
                    <h4>
            {{ field.errors }}
                        </h4>
                </div>
            </div>
        {% endfor %}
    <center>
    <input type="submit" id="botonenviar" value="Actualizar precio" class="btn btn-primary">
        </center>
    </form>
    <hr><hr>
    </div>
    <div id = "divvalidador" class="hide">
    {{ validador }}
    </div>
    </div>
            <script src="{% static 'js/angular/angular.min.js' %}"></script>
    <script src="{% static 'js/angular/app_puebla/busqueda_productos.js' %}"></script>

{% endblock %}