<!DOCTYPE html>
<html lang="en" ng-app = "AppControl">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Página principal{% endblock %}</title>

    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
      <link rel="icon" href="{% static 'images/Logo_Web.ico' %}">

      <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel = "stylesheet">
      <link href="{% static 'css/bootstrap/dashboard.css'%}" rel="stylesheet">
    <link href="{% static 'js/toastr-master/toastr.css' %}" rel="stylesheet">
  <link href="{% static 'css/cajaRegistradora/cajaRegistradora.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="{% static 'js//bootstrap/html5shiv.min.js'%}"></script>
      <script src="{% static 'js/bootstrap/respond.min.js'%}"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.ciex.edu.mx/"><img src="{% static 'images/Logo_Web.png' %}" style="height: 50px; position: absolute; top: 0%;"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        {% block actual %} {% endblock %}
                        <li><a href=""> <img src="{% static 'images/user.png' %}" style="height: 20px; width: 20px;"> {{user.username}}</a> </li>
                        <li><a href="{% url 'registro_ayuda' %}"> <img src="{% static 'images/acerca.png' %}" style="height: 20px; width: 20px;"> Ayuda</a></li>

              {% endif %}
              </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid" >
    <img src="{% static 'images/Logo_Web.png' %}" style="position: absolute; left: 80%; top:65%; height: 250px; width: 250px;">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block sidebar %}

            {% endblock %}
            <div id="resultbusqueda">

            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="z-index: 2;">
                {% block body_block %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="hide" id = "alert"></div>
    <script src="{% static 'js/bootstrap/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toastr-master/toastr.js' %}"></script>
    <script src="{% static 'js/angular/control.js' %}" ></script>
  </body>
</html>