{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Ayuda
{% endblock %}

{% block sidebar %}

        <ul class="nav nav-sidebar">
                {% if usuario.belongs_to == 'Administrador' %}

            <li class="active"><a href="" style="background-color: grey; cursor: default;"> Libreria</a></li>
        <li><a href="{% url 'control_inicio' %}"> Inicio</a> </li>
        <li><a href="{% url 'libreria_ventas_dia' %}"> Ventas de hoy </a> </li>
        <li><a href="{% url 'libreria_ventas_semana' %}"> Ventas de esta semana</a> </li>
        <li><a href="{% url 'libreria_ventas_mes' %}"> Ventas del mes </a> </li>
        <li><a href="{% url 'libreria_libros_registrados' %}"> Libros registrados </a> </li>

        <li><a href="{% url 'libreria_agregar_libro' %}"> Agregar Libros </a> </li>
        <li><a href="{% url 'libreria_agregar_categoria' %}"> Agregar Categorias</a> </li>
        <li><a href="{% url 'libreria_cambio_precio' %}"> Cambiar precio de libros</a> </li>
        <li><a href="{% url 'libreria_borrar_libros' %}">Borrar libros</a> </li>
        <li><a href="{% url 'libreria_registradora' %}"> Caja de ventas </a> </li>
        <input type="text" class="form-control" placeholder="Buscar libro por nombre" id="buscarLibro">
        <input type="text" class="form-control" placeholder="Buscar libro por código de barras" id="buscarLibrocb">
        <input type="text" class="form-control" placeholder="Buscar Categoria" id="buscarCategoria">

        <li class="active"><a href="" style="background-color: grey; cursor: default;"> Comercializadora</a></li>
        <li><a href="{% url 'comercializadora_ventas_dia' %}"> Ventas de hoy </a> </li>
        <li><a href="{% url 'comercializadora_ventas_semana' %}"> Ventas de esta semana</a> </li>
        <li><a href="{% url 'comercializadora_ventas_mes' %}"> Ventas del mes </a> </li>
        <li><a href="{% url 'comercializadora_ventas_mes_spec' %}"> Ventas por mes específico <br> <button class="btn btn-warning" style="font-size:0.8em">¡Nuevo!</button> </a> </li>
        <li><a href="{% url 'comercializadora_libros_registrados' %}"> Productos registrados </a> </li>

        <li><a href="{% url 'comercializadora_agregar' %}"> Agregar Producto </a> </li>
        <li><a href="{% url 'comercializadora_agregar_categoria' %}"> Agregar Categorias</a> </li>
        <li><a href="{% url 'comercializadora_cambio_precio' %}"> Cambiar Precio De Productos</a> </li>
        <li><a href="{% url 'comercializadora_borrar_producto' %}">Borrar Producto</a> </li>
        <li><a href="{% url 'comercializadora_registradora' %}"> Caja Registradora </a> </li>
        <input type="text" class="form-control" placeholder="Buscar Producto por nombre" id="buscarProducto">
        <input type="text" class="form-control" placeholder="Buscar Producto por código de barras" id="buscarProductocb">
        <input type="text" class="form-control" placeholder="Buscar Categoria" id="buscarCategoriaC">

        <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Cafeteria</a></li>
        <li><a href="{% url 'cafeteria_ventas_dia' %}"> Ventas hoy </a> </li>
        <li><a href="{% url 'cafeteria_ventas_semana' %}"> Ventas en la semana</a> </li>
        <li><a href="{% url 'cafeteria_ventas_mes' %}"> Ventas en el mes</a> </li>
        <li><a href="{% url 'cafeteria_productos_registrados' %}"> Productos registrados </a> </li>
        <li><a href="{% url 'cafeteria_agregar_producto' %}"> Agregar productos </a> </li>
        <li><a href="{% url 'cafeteria_cambiar_precio_producto' %}">Cambiar precio de productos</a> </li>
                    <li><a href="{% url 'cafeteria_borrar_producto' %}"> Borrar producto</a> </li>
        <li><a href="{% url 'cafeteria_registradora' %}"> Caja de ventas </a> </li>
        <input type="text" class="form-control" placeholder="Buscar producto por nombre" id = "inputProducto">
        <input type="text" class="form-control" placeholder="Buscar producto por código de barras" id="inputProductocb">



            <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Usuario</a></li>
        <li class="active"><a href="{% url 'cerrar_sesion' %}" style="background-color: darkred"> Cerrar sesión </a> </li>

        {% elif usuario.belongs_to == 'Cafeteria' %}

            <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Cafeteria </a></li>
            <li ><a href="{% url 'cafeteria_inicio' %}"> Inicio</a> </li>
            <li><a href="{% url 'cafeteria_registradora' %}"> Caja de ventas </a> </li>
            <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Usuario</a></li>
            <li class="active"><a href="{% url 'cerrar_sesion' %}" style="background-color: darkred"> Cerrar sesión </a> </li>

                {% elif usuario.belongs_to == 'Libreria' %}
                <li class="active"><a href="" style="background-color: grey; cursor: default;"> Libreria</a></li>

            <li><a href="{% url 'libreria_inicio' %}"> Inicio</a> </li>
        <li><a href="{% url 'libreria_agregar_libro' %}"> Agregar libros </a> </li>
        <li><a href="{% url 'libreria_agregar_categoria' %}"> Agregar Categorias</a> </li>
            <li><a href="{% url 'libreria_cambio_precio' %}"> Cambiar precio de libros</a> </li>
                    <li><a href="{% url 'libreria_borrar_libros' %}">Borrar libros</a> </li>
        <li><a href="{% url 'libreria_registradora' %}"> Caja de ventas </a> </li>
        <input type="text" class="form-control" placeholder="Buscar libro por nombre" id="buscarLibro">
            <input type="text" class="form-control" placeholder="Buscar libro por código de barras" id="buscarLibrocb">
        <input type="text" class="form-control" placeholder="Buscar Categoria" id="buscarCategoria">
                             <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Comercializadora</a></li>

           <li><a href="{% url 'comercializadora_inicio' %}"> Inicio</a> </li>
            <li><a href="{% url 'comercializadora_agregar' %}"> Agregar Producto </a> </li>
            <li><a href="{% url 'comercializadora_agregar_categoria' %}"> Agregar Categorias</a> </li>
            <li><a href="{% url 'comercializadora_cambio_precio' %}"> Cambiar precio de productos</a> </li>
            <li><a href="{% url 'comercializadora_borrar_producto' %}">Borrar productos</a> </li>
            <li><a href="{% url 'comercializadora_registradora' %}"> Caja Registradora </a> </li>
             <input type="text" class="form-control" placeholder="Buscar Producto por nombre" id="buscarProducto">
            <input type="text" class="form-control" placeholder="Buscar Producto por código de barras" id="buscarProductocb">
             <input type="text" class="form-control" placeholder="Buscar Categoria" id="buscarCategoriaC">

        <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Cafeteria</a></li>
        <li><a href="{% url 'cafeteria_agregar_producto' %}"> Agregar productos </a> </li>
            <li><a href="{% url 'cafeteria_cambiar_precio_producto' %}">Cambiar precio de productos</a> </li>
                    <li><a href="{% url 'cafeteria_borrar_producto' %}"> Borrar producto</a> </li>
                    <li><a href="{% url 'cafeteria_registradora' %}"> Caja de ventas </a> </li>

            <input type="text" class="form-control" placeholder="Buscar producto por nombre" id = "inputProducto">
            <input type="text" class="form-control" placeholder="Buscar producto por código de barras" id="inputProductocb">


                <li class="active"> <a href="" style="background-color: grey; cursor: default;"> Usuario</a></li>
        <li class="active"><a href="{% url 'cerrar_sesion' %}" style="background-color: darkred"> Cerrar sesión </a> </li>
        {% endif %}
    </ul>
{% endblock %}

{% block actual %}
    <li>
    <a href="">
        Ayuda
        </a>
    </li>
{% endblock %}

{% block body_block %}
    <div>
    <div class="col-sm-12 col-xs-12 col-md-3 col-md-offset-3 col-lg-6 col-lg-offset-3 alert-info" style="border-radius: 10%;">
                <center><img src="{% static 'images/ayuda.png' %}"></center>

        <h4>Contacto para ayuda:</h4>
        <h2>Nombre: Rubén Murga Dionico.</h2>
        <br>
                <hr>
        <hr>

        <h3>Correo: ruben.murga.contacto@gmail.com</h3>



    </div>
    </div>
{% endblock %}
